
.feedback-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 24px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.04em;
    color: #2e2f42;
  }
  
  .form-label {
    display: block;
    margin-bottom: 8px;
  }
  
  .form-input, .form-input:focus {
    width: 95%;
    height: 20px;
    padding: 10px;
    border: 1px solid #808080;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    outline: none;
  }
  
  .form-input-message, .form-input-message:focus{
    height: 60px;
  }
  
  .form-input::placeholder {
    color: transparent;
    transition: color 0.3s;
  }
  
  .form-input:focus::placeholder {
    color: #2E2F42;
  }
  
  .form-input:hover {
    border-color: #000000;
  }
  
  .form-submit-btn {
    display: inline-block;
    background-color: #4e75ff;
    color: #ffffff;
    border: none;
   border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;

    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 8px;
  }
  
  .form-submit-btn:hover {
    background-color: #6c8cff;
  }
